@charset "UTF-8";
body {
  background-color: yellow;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: monospace;
  animation: body 8s ease-in infinite;
}

.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}

hr {
  border: none;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  color: magenta;
}

.ascii-art:hover {
  cursor: url("head2.png"), auto;
}

#who {
  font-size: 9px;
  margin-bottom: 9px
}
#what {
  font-family: monospace;
  white-space: pre;
  color: cyan;
}

#what:after {
  content: "";
  white-space: pre;
  animation: what 8s ease-in infinite;
}

@keyframes body {
  0% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='64px' width='64px' style='fill:black;font-size:32px;'><text y='50%'>🦄</text></svg>"), auto;
  }
  50% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='64px' width='64px' style='fill:black;font-size:32px;'><text y='50%'>💾</text></svg>"), auto;
  }
  80% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='64px' width='64px' style='fill:black;font-size:32px;'><text y='50%'>🌱</text></svg>"), auto;
  }
  100% {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='64px' width='64px' style='fill:black;font-size:32px;'><text y='50%'>👶</text></svg>"), auto;
  }
}
@keyframes what {
  0% {
    content: "\a███████╗██╗   ██╗██╗     ██╗     ███████╗████████╗ █████╗  ██████╗██╗  ██╗    ██████╗ ███████╗██╗   ██╗███████╗██╗      ██████╗ ██████╗ ███████╗██████╗ \a██╔════╝██║   ██║██║     ██║     ██╔════╝╚══██╔══╝██╔══██╗██╔════╝██║ ██╔╝    ██╔══██╗██╔════╝██║   ██║██╔════╝██║     ██╔═══██╗██╔══██╗██╔════╝██╔══██╗\a█████╗  ██║   ██║██║     ██║     ███████╗   ██║   ███████║██║     █████╔╝     ██║  ██║█████╗  ██║   ██║█████╗  ██║     ██║   ██║██████╔╝█████╗  ██████╔╝\a██╔══╝  ██║   ██║██║     ██║     ╚════██║   ██║   ██╔══██║██║     ██╔═██╗     ██║  ██║██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║     ██║   ██║██╔═══╝ ██╔══╝  ██╔══██╗\a██║     ╚██████╔╝███████╗███████╗███████║   ██║   ██║  ██║╚██████╗██║  ██╗    ██████╔╝███████╗ ╚████╔╝ ███████╗███████╗╚██████╔╝██║     ███████╗██║  ██║\a╚═╝      ╚═════╝ ╚══════╝╚══════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝    ╚═════╝ ╚══════╝  ╚═══╝  ╚══════╝╚══════╝ ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═╝\a";
  }
  50% {
    content: "\a████████╗███████╗ ██████╗██╗  ██╗    ███████╗███╗   ██╗████████╗██╗  ██╗██╗   ██╗███████╗██╗ █████╗ ███████╗████████╗\a╚══██╔══╝██╔════╝██╔════╝██║  ██║    ██╔════╝████╗  ██║╚══██╔══╝██║  ██║██║   ██║██╔════╝██║██╔══██╗██╔════╝╚══██╔══╝\a    ██║   █████╗  ██║     ███████║    █████╗  ██╔██╗ ██║   ██║   ███████║██║   ██║███████╗██║███████║███████╗   ██║   \a    ██║   ██╔══╝  ██║     ██╔══██║    ██╔══╝  ██║╚██╗██║   ██║   ██╔══██║██║   ██║╚════██║██║██╔══██║╚════██║   ██║   \a    ██║   ███████╗╚██████╗██║  ██║    ███████╗██║ ╚████║   ██║   ██║  ██║╚██████╔╝███████║██║██║  ██║███████║   ██║   \a    ╚═╝   ╚══════╝ ╚═════╝╚═╝  ╚═╝    ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   \a";
  }
  80% {
    content: "\a  ██████╗  █████╗ ██████╗ ██████╗ ███████╗███╗   ██╗███████╗██████╗ \a██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██╔════╝████╗  ██║██╔════╝██╔══██╗\a██║  ███╗███████║██████╔╝██║  ██║█████╗  ██╔██╗ ██║█████╗  ██████╔╝\a██║   ██║██╔══██║██╔══██╗██║  ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗\a╚██████╔╝██║  ██║██║  ██║██████╔╝███████╗██║ ╚████║███████╗██║  ██║\a╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝\a";
  }
  100% {
    content: "\a██████╗  █████╗ ██████╗ \a██╔══██╗██╔══██╗██╔══██╗\a██║  ██║███████║██║  ██║\a██║  ██║██╔══██║██║  ██║\a██████╔╝██║  ██║██████╔╝\a╚═════╝ ╚═╝  ╚═╝╚═════╝ \a";
  }
}
#cv {
  position: absolute;
  left: 20%;
  top: 20%;
  animation: cv 20s linear infinite;
  padding: 8px;
}

@keyframes cv {
  0% {
    left: 2%;
    top: 64%;
  }
  10% {
    left: 23%;
    top: 69%;
  }
  20% {
    left: 3%;
    top: 39%;
  }
  30% {
    left: 17%;
    top: 26%;
  }
  40% {
    left: 73%;
    top: 10%;
  }
  50% {
    left: 53%;
    top: 3%;
  }
  60% {
    left: 89%;
    top: 12%;
  }
  70% {
    left: 61%;
    top: 51%;
  }
  80% {
    left: 73%;
    top: 91%;
  }
  90% {
    left: 78%;
    top: 11%;
  }
  100% {
    left: 2%;
    top: 64%;
  }
}
/* REGULAR SCANLINES SETTINGS */
/* MOVING SCANLINE SETTINGS */
/* MIXINS */
#note {
  position: fixed;
  bottom: 12px;
  right: 12px;
}

/* CSS .scanlines CLASS */
.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: rgba(0, 0, 255, 0.2);
  opacity: 0.75;
  animation: scanline 6s linear infinite;
  animation: scanline 10s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 255, 0.2) 51%);
  background-size: 100% 3px;
  animation: scanlines 1s steps(20) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
    bottom: 0%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
    bottom: 0%;
  }
}/*# sourceMappingURL=test.css.map */